@page "/"

<PageTitle>Index</PageTitle>

<div style="text-align:center">
    <h1>Bienvenido</h1>
    <h2 style="margin-bottom:1rem">Kimdani Shope</h2>
    <h4 style="margin-bottom:1rem"><em>Accesorios inspirados en K-pop y Bl</em></h4>
    <img src="" style="width:20rem;height:auto" />
</div>

